@page
@model iap2.Pages.addProductModel
@{
}

<p class="info">Fill in the form to add/edit a product</p>
<form method="post" class="createProd">
    <div>
        <label asp-for=@Model.item.Id>ID</label>
        <input asp-for=@Model.item.Id readonly placeholder="Assigned automatically"/>
    </div>
    <div>
        <label asp-for=@Model.item.Name>NAME</label>
        <input asp-for=@Model.item.Name  placeholder="Product name.."/>
    </div>
    <div>
        <label asp-for=@Model.item.Description>DESCRIPTION</label>
        <textarea class="prodBig" asp-for=@Model.item.Description placeholder="Product description.."></textarea>
    </div>
    <div>
        <label asp-for=@Model.item.Size>SIZE</label>
        <input asp-for=@Model.item.Size placeholder="Product size.."/>
    </div>
    <div>
        <label asp-for=@Model.item.Ingredients>INGREDIENTS</label>
        <textarea class="prodBig" asp-for=@Model.item.Ingredients placeholder="Product ingredients.."></textarea></>
    </div>
    <div>
        <label asp-for=@Model.item.Price>PRICE</label>
        <input asp-for=@Model.item.Price placeholder="Product price $.."/>
    </div>
    <div>
        <label asp-for=@Model.item.Category>CATEGORY</label>
        <input asp-for=@Model.item.Category placeholder="Product category.."/>
    </div>
    <div>
        <label asp-for=@Model.item.ProductImage>MAIN IMAGE</label>
        <input asp-for=@Model.item.ProductImage placeholder="Product image.."/>
    </div>
    <div>
        <label asp-for=@Model.item.ProductImageAlt>ALT FOR MAIN IMAGE</label>
        <input asp-for=@Model.item.ProductImageAlt placeholder="Alternative text for image.."/>
    </div>
    <div>
        <label asp-for=@Model.item.ProductImagePage2>IMAGE 2</label>
        <input asp-for=@Model.item.ProductImagePage2 placeholder="Product image 2.."/>
    </div>
    <div>
        <label asp-for=@Model.item.ProductImagePage2Alt>ALT FOR IMAGE 2</label>
        <input asp-for=@Model.item.ProductImagePage2Alt placeholder="Alternative text for image 2.."/>
    </div>
    <div>
        <label asp-for=@Model.item.ProductImagePage3>IMAGE 3</label>
        <input asp-for=@Model.item.ProductImagePage3 placeholder="Product image 3.."/>
    </div>
    <div>
        <label asp-for=@Model.item.ProductImagePage3Alt>ALT FOR IMAGE 3</label>
        <input asp-for=@Model.item.ProductImagePage3Alt placeholder="Alternative text for image 3.."/>
    </div>
    <div id="buttonsP">
        <input class="buttonAdd" type="submit" value="ADD PRODUCT" />
        <input class="buttonAdd" type="submit" asp-page-handler="Update" value="SAVE CHANGES" />
    </div>
</form>