@page
@model IndexModel
@{
}

<div>
    <section id="vid">
        <video id="show_vid" playsinline autoplay muted></video>
    </section>
    <section id="pic_n_txt1">
        <section class="show">
            <img id="showcase1" src="../assets/showcase10.png" alt="Bottle">
        </section>
        <section id="text_home1">
            <p>DECIEM is a humble and happy umbrella of good beauty brands like NIOD, 
            Hylamide, and The Ordinary. We’ve been called every good and bad thing you 
            can think of like “The most thrilling thing to happen to skincare” and 
            “The hottest beauty company right now”.</p>
        </section>
    </section>
    <section id="pic_n_txt2">
        <section id="text_home2">
            <p>Everything we do is of exceptional quality. Today, quality is no longer
            defined by merely price points or distribution channels. Quality today 
            means being authentic, being different, being functional, being beautiful 
            and being sensibly priced, even to the wealthy. And we respect these principles. 
            We choose to serve the educated, the curious and the intelligent who 
            appreciate our dedication to this very genuine definition of quality.</p>
        </section>
        <section class="show">
            <img id="showcase2" src="../assets/showcase4.png" alt="Bottle">
        </section>
    </section>
</div>

