@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="imageHalf">   
    <img src="~/assets/dec1.jpg" alt="Bottles"/>
    <img src="~/assets/dec2.jpg" alt="Bottles"/>
    <img src="~/assets/dec3.jpg" alt="Bottles"/>
</div>
<div class="descriptionHalf">
    <p class="contName">About us and contacts</p>
    <p id="descrUs">Over the past year, we’ve sold more than one product every second, 
        opened the doors to our 35th store, and welcomed our 1000th employee. With many
        products in development, a new 70,000 square-foot HQ to call home, and plans 
        for even further retail expansion, we are excited to do even bigger things in 2021.</p>
    <p id="descrUs">DECIEM was founded in 2013 by “the beauty world’s most exciting disrupter”, 
        Brandon Truaxe. During a four-month co-op at a skincare lab, he became angry
        at the lack of passion, transparency, or insight when beauty products were 
        being developed. After selling his first software company, many years later, 
        Brandon’s frustration at the beauty industry remained and he set off to make 
        a change in the beauty business. That change is DECIEM and we’re working really
        hard to continue Brandon’s vision for a better world of beauty. </p>
    <p id="smallTit">How to find us?</p>
    <p class="addr">London Covent Garden</p>
    <p class="addr">5B The Market</p>
    <p class="addr">The Piazza</p>
    <p class="addr">London WC2E 8RA</p>
    <p id="em">deceim@gmail.com</p>
    <p>+44-800-368-8088</p>
</div>