@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="imageHalf">
    <img src="~/assets/lactic.jpg" alt="Bottles"/>
    <img src="~/assets/lactic2.jpg" alt="Bottles"/>
    <img src="~/assets/lactic3.jpg" alt="Bottles"/>
</div>
<div class="descriptionHalf">
    <p class="contName">About us and contacts</p>
    <p id="descrUs">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime mollitia,
molestiae quas vel sint commodi repudiandae consequuntur voluptatum laborum
numquam blanditiis harum quisquam eius sed odit fugiat iusto fuga praesentium
optio, eaque rerum! Provident similique accusantium nemo autem. Veritatis
obcaecati tenetur iure eius earum ut molestias architecto voluptate aliquam
nihil, eveniet aliquid culpa officia aut! Impedit sit sunt quaerat, odit,
tenetur error, harum nesciunt ipsum debitis quas aliquid. Reprehenderit,
quia. Quo neque error repudiandae fuga? Ipsa laudantium molestias eos </p>
    <p id="smallTit">How to find us?</p>
    <p class="addr">London Covent Garden</p>
    <p class="addr">5B The Market</p>
    <p class="addr">The Piazza</p>
    <p class="addr">London WC2E 8RA</p>
    <p id="em">deceim@gmail.com</p>
    <p>+44-800-368-8088</p>
</div>