<!DOCTYPE html>
<html lang="en">
<head>
    <title>The Ordinary</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - iap2</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <script src="~/js/anim.js" defer></script>
    <link rel="stylesheet" type="text/css" href="~/css/style_pc.css">
    <!--<link rel="stylesheet" href="~/css/site.css" />-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;500;600&display=swap" rel="stylesheet">
</head>
<body onload="line_animate()">
    <header>
        <div id="headnav">
            <div>
                <img id="moto" src="../assets/moto.png" alt="Brand moto">
            </div>
            <div>
                <img id="logo" src="../assets/logo.png" alt="Brand logo">
            </div>
            <a href="#" class="sidebarOpen" onclick="sidebarFun()"><i class="fas fa-bars"></i></a>
            <nav id="navigation">
                <div class="sidebarClose" onclick="sidebarFun()"><i class="fas fa-bars"></i></div>
                <a href="index.html">HOME</a>
                <a asp-area="" asp-page="/products">PRODUCTS</a>
                <a href="sign_up.html">SIGN UP</a>
                <a asp-area="" asp-page="/addProduct">ADD PRODUCTS</a>
            </nav>
            <br>
            <div id="line"></div>
        </div>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - iap2 - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
