@using Microsoft.AspNetCore.Identity;
@using iap2.Model;
@inject SignInManager<AppUser> SignInManager;

<!DOCTYPE html>
<html lang="en">
<head>
    <title>The Ordinary</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - iap2</title>
    <script src="../javascript/anim.js" defer></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css">    
    <link rel="stylesheet" type="text/css" href="~/css/style_pc.css">
    <!--<link rel="stylesheet" href="~/css/site.css" />-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;500;600&display=swap" rel="stylesheet">
</head>
<body onload="line_animate()">
    <header>
        <nav class="navbar navbar-expand-sm">
            <div class="containerHead">
                <div class="navbar-collapse collapse">
                    <ul class="navbar-list1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Index">HOME</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Privacy">ABOUT US</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/products">PRODUCTS</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Cart">CART</a>
                        </li>
                        @{
                            if (SignInManager.IsSignedIn(User) && User.IsInRole("AdminManager"))
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-page="/addProduct">ADD PRODUCT</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-page="/AdminDash">DASHBOARD</a>
                                </li>
                            }
                        }                       
                    </ul>
                </div>
            </div>
            <img id="moto" src="~/assets/moto.png" alt="Brand moto">
            <img id="logo" src="~/assets/logo.png" alt="Brand logo">
            <partial name="_LoginPartial" />
        </nav>
        <div id="line"></div>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - iap2 - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
