html {
    margin: 0;
    padding: 0;
}
body {
    background-color: 	#fdfbfb;
    font-family: 'Lato', sans-serif;
    margin-top: 0;
    padding-top: 0;
    margin: 0;
    padding-bottom: 0;
}
/*header and menu*/ 
header {
    width: 100%;
    position: -webkit-sticky;
	position: sticky;
	top: 0;
    z-index: 1;
    padding-bottom: 1%;
}
#logo {
    width: 100px;
    margin-left: 1%;
}
#moto{
    width: 125px;
}
nav {
    margin-left: 2%;
    display: block;
}
nav a {
    font-size: 13px;
    margin-left: 1.8%;
    margin-right: 1.8%;
    text-decoration: none;
    color: #202020;
    font-weight: lighter;
}
nav a:hover {
    border-bottom: 1px solid #202020;
    text-decoration: none;
    color: #202020;
}
.active {
    font-weight: 600;
}
.sidebarOpen {
    display: none;
}
.sidebarClose {
    display: none;
}
#line{
    border-bottom: 6px solid;
    color:#A0A0A0;
    margin-left: 2%;
    width: 96%;
}
/*home page*/

/*Products page*/
.singleItem{
    width: 30%;
}
.previewImg {
    width: 100%;
}
.navbar-list1 {
    display: flex;
    list-style: none;
    margin: 0px;
    padding: 0px;
}
.navbar-list2 {
    display: flex;
    list-style: none;
    margin-bottom: 0px;
}
.nav-item {
    white-space: nowrap;
}
.nav-item a {
    text-decoration: none;
}
#manage {
    text-transform: uppercase;
    padding-top: 10px;
}
#logout {
    font-size: 13px;
    padding-top: 9px;
}